.my-workouts {
    width: 100%;
    max-width: 90%;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 10%;
    align-items: left;
}

.my-workouts-container {
    max-width: 1000px; /* Adjust as needed */
    margin: 0 auto; /* Centers the container */
}

.weekly-schedule {
    display: flex;
    flex-direction: column;
}

.week-day {
    font-weight: bold;
}

.day-card {
    margin-bottom: 20px;
}

.workout-card {
    width: 100%;
    border-collapse: collapse;
}

.workout-card th, .workout-card td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.no-workout-text {
    color: #666;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .my-workouts-container {
        padding: 10px;
    }
}
