.manage-exercise-bank {
    display: ju;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px; 
  }
  
  .manage-exercise-bank-container {
    display: flex;
    flex-wrap: wrap; 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    gap: 20px;
    padding: 20px; 
  }
  
  .exercise-overview {
    flex: 1;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .exercise-detail {
    flex: 2;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .exercise-list {
    flex: 1; 
  }