/* ------------------- form styling ------------------- */

.request-coach-form-description .description-input.description {
  height: 250px;
  word-wrap: break-word;
  text-align: left;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.request-coach-form-message .description-box {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
