.my-coach .my-assigned-workouts {
    background-color: white;
    box-shadow: 0 1px 20px 0 rgba(78, 101, 112, 0.08);
    border: solid rgb(240, 240, 240) 1px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  }
  .my-assigned-workouts-container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .my-coach .my-assigned-workouts .my-assigned-workouts-header {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-bottom: solid darkgray 1px;
  }
  
  .week-day {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .no-workout-text {
    font-style: italic;
  }
  
  .day-card {
    margin-bottom: 30px;
  }
  
  .workout-card {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  }
  
  #exercise-bank-modal {
    max-height: 200px;
    overflow-y: scroll;
    z-index: 5;
  }

  #logged-workouts {
    margin-left: 150px;
  }
  