.my-coach .my-assigned-workouts {
  background-color: white;
  box-shadow: 0 1px 20px 0 rgba(78, 101, 112, 0.08);
  height: 50%;
  border: solid rgb(240, 240, 240) 1px;
}
.my-assigned-workouts-container {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.my-coach .my-assigned-workouts .my-assigned-workouts-header {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border-bottom: solid darkgray 1px;
}
