* {
  box-sizing: border-box;
}

.exercise-card {
  background-color: #f8f8f8; 
  padding: 10px; 
  margin-bottom: 10px; 
  cursor: pointer;
  border: 1px solid #ddd; 
}

.exercise-card p {
  color: black;
  font-size: 16px; 
}

.exercise-card:hover {
  box-shadow: 0 1px 10px 0 rgba(78, 101, 112, 0.08);
}

.exercise-card-selected {
  background: rgb(223, 223, 223);
  box-shadow: 0 1px 10px 0 rgba(78, 101, 112, 0.08);
}

.exercise-overview {
  background-color: white;
  padding: 20px;
  box-shadow: var(--card-box-shadow);
  overflow-y: auto; 
}

.exercise-list-container {
  max-height: 100%; 
  overflow-y: auto; 
}.exercise-overview {
  display: flex;
    width: 100%; 

  flex-direction: column;
  height: 100%; 
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  padding-right: 30px;
  width: 100%; 
}

.search-btn {
  position: absolute;
  right: 0; 
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 10px; 
}

.search-btn i {
  font-size: 20px; 
  color: #666; 
}


.exercise-list-container {
  flex-grow: 1; 
  overflow-y: auto; 
}

.add-exercise-button {
  position: relative;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: #3f4d67;
  color: white;
  padding: 10px 15px; 
  border: none; 
  border-radius: 4px; 
  font-size: 15px; 
  cursor: pointer; 
  justify-content: space-between; 
  margin-bottom: 10px; 
  transition: background-color 0.3s ease; 
}

.add-exercise-button:hover {
  background-color: #3f4d67; 
}
