/* Top-level container styles */
.meal-table-container {
  padding: 10px;
  width: 100%;
  height: 736px;
  background-color: white;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.meal-table-container h1 {
  margin: 0;
}

/* Meal type label styles */
.meal-type-label {
  color: black;
}

/* Meal Type Container styles */
.meal-type-container {
  padding-bottom: 20px;
}
.meal-type-container h2,
p {
  margin-bottom: 5px;
}

.meal-type-container button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.add-meal-button:hover {
  color: black;
}

/* Meal list styles */
.meal-list {
  color: black;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

/* Meal Line styling */
.meal-line {
  display: flex;
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

.meal-list li:hover {
  box-shadow: var(--card-box-shadow);
}

/* Add meal button styles */
.add-meal-button {
  color: #aeaeae;
  font-size: 13px;
  font-style: italic;
  padding-top: 10px;
}

.delete-a-meal {
  color: red;
  display: flex;
}

.delete-a-meal:hover {
  color: red;
  transform: scale(1.1);
}
