#meal{
    width: 500px;
    height: 400px;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    align-items: center;
    top: 50%;
    right: 20%;
}

  h2 {
    background-color: #3F4D67;
    color: #333;
    font-size: 24px;
    margin-bottom: 0px;
    top: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 0px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #B6B6B6;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  