.user-dashboard {
  margin-left: 100px;
  margin-right: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.blurred {
  margin-left: 100px;
  margin-right: 10px;
  padding: 20px;
  display: flex;
  filter: blur(5px);
}

.user-dashboard-columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.user-dashboard-column.meal-tracker {
  margin-right: 20px;
  width: 60%;
}
.user-dashboard-column {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.user-dashboard-btn {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.success-message,
.info-message,
.error-message {
  background-color: #dff0d8; /* Success message background color */
  border: 1px solid #3c763d; /* Success message border color */
  color: #3c763d; /* Success message text color */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}
