#water {
  padding: 10px 30px 10px 30px;
  width: 100%;
  background-color: white;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
}

#water h2 {
  color: black;
  font-size: 36px;
  margin-bottom: 15px;
  top: 10px;
}

#water label {
  display: block;
  margin-left: 10px;
  color: black;
  font-weight: 700;
  font-size: 24px;
  word-wrap: break-word;
}

#water input,
select {
  width: 174px;
  padding: 10px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: 15px;
  margin-bottom: 15px;
}

#water button {
  background-color: #b6b6b6;
  width: 190px;
  height: 51px;
  color: black;
  font-size: 24px;
  font-weight: 700;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#water button:hover {
  background-color: #45a049;
}
