.my-coach-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: 'Arial', sans-serif; 
}

.coach-overview {
  text-align: center;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.coach-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coach-name {
  font-size: 20px; 
  margin-right: 10px;
}

.workouts-and-messages {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.coach-footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.terminate-coach-button {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
