.my-coach {
  font-family: 'Arial', sans-serif;
  max-width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.my-coach-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.my-coach-header h1 {
  font-size: 2rem;
  color: #333;
}

.coach-details {
  text-align: right;
}

.coach-details h2 {
  margin-bottom: 0.5rem;
}

.terminate-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.terminate-button:hover {
  background-color: #ff7875;
}

.fas{
font-size: 30px;

}
.workout-day {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.workout-day h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.exercise {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.exercise-name {
  font-weight: bold;
}

.exercise-details {
  text-align: right;
}

.my-coach-footer {
  text-align: right;
  padding-top: 1rem;
}

#coach-rating {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}
