.no-coach-card {
    margin-left: 150px;
    margin-top: 50px;
    padding-left: 25px;
    padding-bottom: 25px;
    /* display: flex; */
    width: 90%;
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}

#no-coach-text{
    font-size: 25px;
}

#no-coach-title{
    font-size: 48px;
}

#no-coach-explore-coach {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

#horizontal-break {
    border: 2px solid #ccc;
    width: 97%;
    margin-left: 0px;
}